@media screen and (min-width: 768px) {
    .hidden-pc {
        display: none;
    }

    .hidden-phone {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .hidden-phone {
        display: none;
    }

    .hidden-pc {
        display: block;
    }
}

@media screen and (max-width: 956px) {
    html, body {
        overflow-x: hidden;
    }

    #header {
        height: 100vh;
    }

    header {
        height: 60px;
        padding: 0 16px;
    }

    header .wrap {
        width: auto;
        height: 60px;
    }

    header .wrap h1 {
        width: 74px;
        height: 20px;
    }

    header .wrap .gnb {
        display: none;
    }

    header .wrap .slide-menu {
        width: 30px;
        height: 30px;
        background: url("../images/ic-menu.svg") center center no-repeat;
    }

    header .wrap .close {
        width: 30px;
        height: 30px;
        background: url("../images/ic-close.svg") center center no-repeat;

    }

    /*side-menu*/
    .side-menu {
        background: rgba(0, 0, 0, 0.9);
        background-size: contain;
        color: #fff;
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 60px;
        z-index: 99999;
        padding: 0 16px;

    }

    .side-menu nav a {
        display: block;
        color: #9E9E9E;
        font-size: 14px;
        font-weight: 400;
        padding: 20px 0;
        border-bottom: 1px solid #666;
    }

    .side-menu nav a.on {
        color: #FF7CAA;
    }

    .side-menu .bottom {
        margin-top: 50px;
        clear: both;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .side-menu .bottom button.ic-member {
        border: 1px solid #666;
        border-radius: 4px;
        width: 118px;
        height: 40px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 14px;
    }

    .side-menu .bottom button.ic-member i {
        width: 20px;
        height: 20px;
        background: url("../images/ic-link.svg") center center no-repeat;
        margin-left: 11px;
        color: #fff;
    }

    .side-menu .sns button {
        width: 40px;
        height: 40px;

    }

    .side-menu .sns button.instar {
        background: url("../images/ic-instar.svg") center center no-repeat;
        background-size: contain;
    }

    .side-menu .sns button.facebook {
        background: url("../images/ic-facebook.svg") center center no-repeat;
        background-size: contain;
    }

    .side-menu button.blog {
        background: url("../images/ic-blog.svg") center center no-repeat;
        background-size: contain;
    }

    .side-menu .close {
        width: 30px;
        height: 30px;
        background: url("../images/ic-close.svg") center center no-repeat;
        position: absolute;
        right: 16px;
        top: -46px;
    }

    /*main-visual*/
    .main-visual {
        margin-top: 0;
    }

    .main-visual .slider {
        padding: 0 16px;
    }

    .main-visual .slider-main {
        justify-content: start;

    }

    .main-visual .main-title {
        width: auto;
        font-size: 27px;
        line-height: 40px;
        text-align: left;
    }

    .main-visual .main-title b {
        font-size: 33px;
        line-height: 50px;
    }

    .main-visual .main-title span {
        font-size: 10px;
        line-height: 16px;
    }

    .main-visual .slider .wrap {
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-visual .slider .wrap .main-title {
        width: auto;
        margin-right: 0;
        margin-bottom: 80px;
    }

    .main-visual .slider .wrap .description {
        width: auto;
        font-size: 12px;
        font-weight: 400;
    }

    .main-visual .slider .wrap .description br {
        display: none;
    }

    .main-visual .slider .wrap .pagination {
        width: 100%;
        display: block;
        height: 10px;
    }

    .main-visual .slider .wrap .pagination button {
        width: 54px;
        height: 2px;
        border-radius: 2px;
        display: inline-block;
        flex: none;
        margin-left: 3px;

    }

    /*container*/
    .container {
        padding-top: 40px;
    }

    .container .wrap,.container .wrapper{
        width: auto;
    }

    .container section {
        width: auto;
        padding: 0 16px;
    }

    .container h2.title {
        font-size: 24px;
        margin-bottom: 20px;
        line-height: 36px;
    }

    /*business-container*/
    .business-container {
        height: auto;
    }

    .business-container .wrap {
        padding-bottom: 0;
        margin-bottom: 0;
        width: auto;
    }

    .business-container .wrap:first-child {
        border-bottom: none;

    }

    .business-container .wrap .cont {
        width: auto;
        margin-bottom: 40px;
    }

    .business-container .wrap .cont dl dt {
        font-size: 18px;
        line-height: 27px;
    }

    .business-container .wrap .cont dl dd {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .business-container .wrap .cont .btn button {
        width: 104px;
        height: 34px;
        font-size: 12px;
    }

    .business-container .wrap .cont .btn button i {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }

    /*solution-container*/
    section.solution-container {
        background: url(../images/bg-solutions.png) -36px 50px no-repeat;
        background-size: auto 216px;
        height: auto;
        margin-top: 50px;

    }

    .solution-container .list {
        margin-top: 216px;
        height: auto;
        flex-direction: column;
        box-shadow: none;
        margin-bottom: 50px;
    }

    .solution-container .list .cont {
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .solution-container .list .cont .img {
        margin-bottom: 0;
        width: 60px;
        height: 60px;
    }

    .solution-container .list .cont dl {
        flex: 1;
        text-align: left;
        margin-left: 20px;
    }

    .solution-container .list .cont dl dt {
        font-size: 18px;
        line-height: 27px;
        text-align: left;
    }

    .solution-container .list .cont dl dt em {
        font-size: 12px;
        font-weight: 300;
    }

    .solution-container .list .cont dl dt br {
        display: none;
    }

    .solution-container .list .cont dl dd {
        font-size: 12px;
        line-height: 18px;
        margin-top: 10px;
        text-align: left;
    }

    /*news-container*/
    section.news-container {
        height: auto;
    }

    .news-container .wrap {
        width: auto;

        padding: 50px 0;
    }

    .news-container .wrap .news-wrap {
        height: auto;
    }

    .news-container .wrap .news-wrap .img-cont {
        width: 160px;
        margin-right: 10px;
    }

    .news-container .wrap .news-wrap .img-cont .img {
        width: 160px;
        height: auto;
        margin-bottom: 10px;
    }

    .news-container .wrap .news-wrap .img-cont dl dt {
        font-size: 12px;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* ellipsis line */
        -webkit-box-orient: vertical;
        height: 37px;
    }

    .news-container .wrap .news-wrap dl dd {
        font-size: 8px;
    }

    .news-container .wrap .news-wrap span.label {
        font-size: 8px;
        width: 45px;
        height: 13px;
        border-radius: 8px;
        border: 0.5px solid rgba(255, 255, 255, 0.5);
        line-height: 8px;
        font-weight: 300;
        margin-right: 5px;
    }

    .news-container .wrap .news-wrap span.date {
        font-size: 8px;
    }

    .news-container .wrap .news-wrap .list-cont {
        flex: 1;
        width: auto;
    }

    .news-container .wrap .news-wrap .list-cont ul li {
        padding: 10px 0;
        border-bottom: 0.5px solid rgb(158, 158, 158, 0.5);
    }

    .news-container .wrap .news-wrap .list-cont ul li button {
        font-size: 12px;
        margin-bottom: 0;
        white-space: break-spaces;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* ellipsis line */
        -webkit-box-orient: vertical;
        height: 14px;
    }

    /*.partner-container*/
    section.partner-container {
        padding: 50px 0;
    }

    .partner-container .wrap {
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /*address-container*/
    section.address-container {
        height: auto;
        padding: 0;
    }

    section.address-container .wrap {
        flex-direction: column;
    }

    .address-container .img {
        width: auto;
        margin-right: 0;
        height: auto;
    }

    .address-container .cont {
        margin-top: 20px;
        padding: 0 16px;
        padding-bottom: 50px;
    }

    .address-container h3.title {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 23px;
    }

    .address-container dl dt {
        font-size: 12px;
        margin-bottom: 0px;
    }

    .address-container dl dd {
        font-size: 12px;
        line-height: 18px;
    }

    .address-container .ic-mail {
        width: 16px;
        height: 16px;
        background-size: contain;
    }


    /*footer .wrap*/
    footer {
        height: 270px;
    }

    footer .wrap {
        width: auto;
        padding: 50px 16px;
        position: relative;
        height: 100%;
    }

    footer .wrap .fnb {
        width: auto;
    }

    footer .wrap .fnb h6 {
        width: 60px;
        height: 30px;
    }

    footer address {
        font-size: 8px;
        font-weight: 300;
        line-height: 15px;
    }

    footer address ul li {
        display: inline;
    }

    footer .sns {
        position: absolute;
        left: 9px;
        bottom: 40px;
    }

    footer .wrap .fnb .sns button {
        width: 24px;
        height: 24px;
    }

    footer .dropdown {
        position: absolute;
        top: 55px;
        right: 16px;
        z-index: 10;
    }

    footer .dropdown button {
        width: 117px;
        height: 30px;
        border-radius: 2px;
        border: 0.5px solid rgb(158, 158, 158, 0.9);
    }

    footer .dropdown button span {
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
    }


}

/*end*/
