@media screen and (min-width: 768px) {
  .hidden-pc {
    display: none;
  }
  .hidden-phone {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .hidden-phone {
    display: none;
  }
  .hidden-pc {
    display: block;
  }
}

@media screen and (max-width: 956px){
  html,body{
    overflow-x: hidden;
  }

  #header{
    height: 100vh;
  }

  header{
    height: 60px;
    padding: 0 16px;
  }

  header .wrap{
    width: auto;
    height: 60px;
  }

  header .wrap h1{
    width: 60px;
    height: 30px;
  }

  header .wrap .gnb{
    display: none;
  }
  header .wrap .slide-menu{
    width: 30px;
    height: 30px;
    background: url("../images/ic-menu-black.svg") center center no-repeat;
  }

  header .wrap .close{
    width: 30px;
    height: 30px;
    background: url("../images/ic-close-black.svg") center center no-repeat;

  }

  /*side-menu*/
  .side-menu{
    background-size: contain;
    color: #fff;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top: 60px;
    z-index: 99999;
    padding: 0 16px;


  }
  .side-menu:after{
    content: '';
    width: 100%;
    height: calc(100vh - 160px);
    position: absolute;
    left: 0;
    top: 0;
    background-color:#fff;
    z-index: -1;
  }

  .side-menu nav a{
    display: block;
    color: #9E9E9E;
    font-size: 14px;
    font-weight: 400;
    padding: 20px 0;
    border-bottom: 1px solid #F5F5F5;
    text-align: center;
  }
  .side-menu nav a.on{
    color: #FF7CAA;
    font-weight: 600;
  }
  .side-menu .bottom{
    margin-top: 50px;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .side-menu  .sns button{
    width: 40px;
    height: 40px;
    margin-right: 10px;

  }
  .side-menu  .sns button.instar{
    background: url("../images/ic-instar-black.svg") center center no-repeat;
    background-size: contain;
  }
  .side-menu  .sns button.facebook{
    background: url("../images/ic-facebook-black.svg") center center no-repeat;
    background-size: contain;
  }
  .side-menu  button.blog{
    background: url("../images/ic-blog-black.svg") center center no-repeat;
    background-size: contain;
  }
  .side-menu .close{
    width: 30px;
    height: 30px;
    background: url("../images/ic-close-black.svg") center center no-repeat;
    position: absolute;
    right: 16px;
    top: -46px;
  }

  /*main-visual*/
  .main-visual{
    margin-top: 0;
    padding-top:0;
  }
  .main-visual .wrap{
    width: auto;
    height: 100vh;
    margin:0 16px;
    background-size: contain;
    background-position: center 100px;
    position: relative;
  }

  .main-visual .main-title{
    width: auto;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    position: absolute;
    left:0;
    bottom: 20px;
  }
  .main-visual .main-title .img-text{
    margin-bottom: 10px;
  }
  .main-visual .main-title .down{
    margin-top: 20px;
  }



  .main-visual .slider .wrap{
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-visual .slider .wrap .main-title{
    width: auto;
    margin-right: 0;
    margin-bottom: 80px;
  }

  .main-visual .slider .wrap .description{
    width: auto;
    font-size: 12px;
    font-weight: 400;
  }
  .main-visual .slider .wrap .description br{
    display: none;
  }

  .main-visual .slider .wrap .pagination{
    width: 100%;
    display: block;
    height: 10px;
  }

  .main-visual .slider .wrap .pagination button{
    width: 54px;
    height: 2px;
    border-radius: 2px;
    display: inline-block;
    flex: none;
    margin-left: 3px;

  }

  /*container*/

  .container section{
    width: auto;
    padding:50px 16px ;
  }
  .container section .wrap{
    width: auto;
  }
  .container h2.title{
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 36px;
  }



  /*footer .wrap*/
  footer{
    height: 270px;
  }
  footer .wrap{
    width: auto;
    padding: 50px 16px;
    position: relative;
    height: 100%;
  }

  footer .wrap .fnb{
    width: auto;
  }

  footer .wrap .fnb h6{
    width: 60px;
    height: 30px;
  }

  footer address{
    font-size: 8px;
    font-weight: 300;
    line-height: 15px;
  }

  footer address ul li{
    display: inline;
  }

  footer .sns{
    position: absolute;
    left: 9px;
    bottom: 40px;
  }
  footer .wrap .fnb .sns button{
    width: 24px;
    height: 24px;
  }
  footer .dropdown {
    position: absolute;
    top: 55px;
    right: 16px;
    z-index: 10;
  }
  footer .dropdown button{
    width: 117px;
    height: 30px;
    border-radius: 2px;
    border: 0.5px solid rgb(158,158,158,0.9);
  }
  footer .dropdown button span{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }



/*.info-container*/
  .info-container .wrap {
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
  }

  .info-container .wrap .cont{
    width: auto;
    margin-bottom: 40px;
  }
  .info-container .wrap .cont:last-child{
    margin-bottom: 0;
  }
  .info-container .wrap .cont .img{
    width: auto;
    height: auto;
  }
  .info-container .wrap .cont dl dt{
    font-size: 18px;
    line-height:27px ;
    margin-bottom: 10px;
  }
  .info-container .wrap .cont dl dd{
    font-size: 14px;
    line-height: 21px;
  }

/*.guide-container*/
  .guide-container .wrap{
    height: auto;
  }
  .guide-container .wrap .slider{
    flex-direction: column;
    justify-content: center;
  }
  .guide-container .wrap .slider .list{
    width: auto;
    margin-right: 0;
    text-align: center;
  }
  .guide-container .wrap .slider .list ol{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
  }
  .guide-container .wrap .slider .list ol li{
    display: inline-block;
    width: 30%;
  }
  .guide-container .wrap .slider .list ol li button{
    height: 34px;
    border-radius: 20px;
    font-size: 12px;
    line-height: 11px;
    font-weight: 200;
  }
  .guide-container .wrap .slider .list ol li button.on{
    background: linear-gradient(90deg, #1E70DB 0%, #4E93EE 95.34%);
    box-shadow: 0px 2px 6px rgba(140, 172, 255, 0.7);
    font-weight: 600;
  }
  .guide-container .wrap .slider .list ol li:after{
    display: none;
  }

  .guide-container .wrap .slider .cont{
    height: auto;
    margin-top: 20px;
  }

  .guide-container .wrap .slider .cont .img{
    width: auto;
    height: auto;
    margin-bottom: 10px;
  }
  .guide-container .wrap .slider .cont .description{
    font-size: 14px;
    line-height: 21px;
    text-align: left;
  }
  .guide-container .wrap .slider .cont .description br{
    display: none;
  }

  /*safety-container*/
  .container section .wrap{
    flex-direction: column;
  }

  .safety-container .wrap .cont{
    width: auto;
    margin-bottom: 20px;
  }

  .safety-container .wrap .cont .img{
    height: auto;
  }

  .safety-container .wrap .cont dl dt{
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
  }

  .safety-container .wrap .cont dl dd{
    font-size: 14px;
    line-height: 20px;
  }

  .safety-container .wrap .cont dl dd .flex-justify{
    font-size: 12px;
    line-height: 18px;
  }
  .safety-container .wrap .cont  dl dd .flex-justify div:first-child{
    margin-right: 0;
    border-right: none;
    padding-right:5px;
  }
  .safety-container .wrap .cont dl dd .flex-justify div b{
    font-size: 14px;
    line-height: 21px;
    color: #2D2B2B;
  }


  /*section.law-container=*/
  section.law-container .wrap{
    height: auto ;
    flex-direction: column;
    border-radius: 8px;
    border-width: 1px;
    padding: 20px;
    align-items: start;
  }
  section.law-container .wrap:last-child{
    margin-bottom: 0;
  }
  section.law-container h2.title{
    margin-bottom: 40px;
  }

  section.law-container .wrap:before{
    width: 20px;
    height: 20px;
    top: -11px;
    margin-left: -9px;
    background-size: contain;
  }

  .law-container .wrap .cont{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    text-align: left;
    margin-bottom: 10px;
  }
  .law-container .wrap .cont:last-child{
    margin-bottom: 0;
  }

  .law-container .wrap .cont .img{
    width: 67px;
    height: 67px;
    margin-right: 10px;
    margin-bottom: 0;
  }
  .law-container .wrap .cont dl{
    flex: 1;
  }
  .law-container .wrap .cont dl dt{
    text-align: left;
    font-size: 18px;
    line-height: 24px;
  }
  .law-container .wrap .cont dl dd{
    font-size: 12px;
    line-height: 18px;
    text-align: left;
  }


  /*gps-container*/
  .gps-container .wrap{
    height: auto;
  }

  .gps-container .wrap .cont{
    width: auto;
  }
  .gps-container .wrap .cont h2.title{
    margin-bottom: 10px;
  }

  .gps-container .wrap .cont .description{
    font-size: 12px;
    line-height: 18px;
  }

  .gps-container .wrap .img{
    width: 70%;
    height: auto;
    margin: 50px auto 0 auto;
  }

}/*end*/