@charset "UTF-8";
@import url("common.css");

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  width: 100%;
  height: 100%;
  color: #666;
  font-family: "NanumSquare",  sans-serif;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.login-container {
  height: 100vh;
}

.login-wrap {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: flex-start;
}

.login-cont {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(49, 49, 218);
  background: url(../images/bg-login.png) left top no-repeat;
  background-size: cover;
  padding-top: 314px;
}
.login-cont h1 {
  line-height: 56px;
  letter-spacing: -1.2px;
  font-size: 48px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 800;
  text-align: center;
}
.login-cont h1 .logo {
  margin-bottom: 45px;
}

.login-box {
  height: 100%;
  width: 357px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 200px 16px 0 16px;
}

.login-box .login-input {
  border: 3px solid #e5e5e5;
  padding: 0 30px;
  padding-top: 50px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 279px;
  box-sizing: border-box;
}

.login-box .login-input h3 {
  text-align: center;
  font-size: 26px;
  font-weight: 800;
  width: 80px;
  background: #fff;
  display: inline-block;
  position: absolute;
  left: 50%;
  right: 80%;
  margin-left: -40px;
  top: -15px;
  color: #333;
}

.login-box .login-input .input-cont {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  width: 100%;
  position: relative;
}
.login-box .login-input .input-cont input {
  border: none;
  width: 100%;
  height: 38px;
  /* background-color: #e5e7f1; */
  font-size: 15px;
  color: #000;
  padding-left: 40px;
  position: relative;
  font-weight: 800;
}
.login-box .login-input .input-cont input::placeholder {
  color: #000;
  font-weight: 800;
}
.login-box .login-input .input-cont.id-cont::before {
  content: "";
  width: 38px;
  height: 38px;
  background: url(../images/ic-id.png) center center no-repeat !important;
  background-size: xontain;
  position: absolute;
  left: 5px;
  z-index: 100;
}
.login-box .login-input .input-cont.pw-cont::before {
  content: "";
  width: 38px;
  height: 38px;
  background: url(../images/ic-pw.png) center center no-repeat !important;
  background-size: xontain;
  position: absolute;
  left: 5px;
  z-index: 100;
}
.login-box .login-input .input-cont small {
  display: block;
}

.login-box .login-input .input-cont.error input[type="text"],
.login-box .login-input .input-cont.error input[type="password"] {
  border: 1px solid red;
}

.login-box .login-input .input-cont .btn-pull {
  display: block;
  width: 100%;
  height: 38px;
  background-color: #97b1e0;
  color: #fff;
  border-radius: 3px;
  font-size: 17px;
  color: #000;
  font-weight: 800;
}

.btn-pw {
  width: 100%;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.btn-pw i {
  width: 40px;
  height: 40px;
  background: url(../images/ic-setting-black.png) center center no-repeat;
  background-size: 40px;
}
